*{
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  position: relative;
  background-color: #000814;
  color: #ff2a2a;
  overflow: hidden;
  font-size: 32px;
}

.verticalCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.headText {
  text-align: center;
  color: #001d3d;
}

@media screen and (max-width: 900px) {
  .App {
      font-size: 18px;
  }
}
